* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: auto;
}

form {
    color: #fff;
    text-align: center;
    width: 80%;
    /* largura para 80% em telas maiores */
    max-width: 500px;
    /* Defina a largura máxima para 500 pixels */
    height: 320px;
    background-color: rgb(44, 57, 83);
    margin: auto;
    border-radius: 5%;
}

form ul {
    list-style-type: none;

}

.primeiro {
    color: rgb(248, 247, 247);
    font-size: 25;
    padding: 10px;

}

#operacao {
    margin-top: 10px;
}

.valores {
    font-size: 20;
    color: yellow;
}

.segundo {
    color: rgb(248, 246, 246);
    font-size: 25;
    padding: 10px;

}

@media screen and (max-width: 667px) { /* smartphone landscap */
  
    #saida {
        margin-top: 20px;
        color: rgba(238, 255, 0, 0.993);
        font-size: 30px;
    }

    .cop {
        color: rgba(78, 84, 97, 0.822);
        position: fixed;
        top: 325px;
        right: 275;
        font-size: 12px;
    }
}

@media screen and (max-width:375px) { /*----smartphone portrat----*/
    #saida {
        text-align: center;
        color: rgb(251, 255, 0);
        margin-top: 20px;
        font-size: 30px;
    }
    
    .cop {

        color: rgba(78, 84, 97, 0.822);
        position: fixed;
        top: 325px;
        right: 130px;
    }
}

@media screen and (min-width:1280px) {  /*---------pc---------*/

    #saida {
        margin-top: 15px;
        color: rgb(238, 255, 0);
        font-size: 30px;
    }
    
    .cop {
        flex: auto;
        color: rgba(78, 84, 97, 0.822);
        position: fixed;
        top: 320px;
        right: 624;
        font-size: 12px;
    }
}


    

    

